html {
  height: 100%;
}

:root {
  --color-1: #212529;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: sans-serif;

  height: 100%;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* header */

.header {
  background-color: var(--color-1);
  padding: 12px 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  border-right: 2px solid #808080;
  border-bottom: 4px solid #808080;
  letter-spacing: 10px;
}

ul li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}

.header .nav ul li a {
  display: block;
  font-size: 16px;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  transition: all ease;
}

ul li ul.dropdown {
  /* added */
  display: block;
  background-color: #ffffff;
}

.contact-profile {
  width: 40%;
  margin-left: 5rem;
  padding: 1rem 0 0 0;
}

.contact-number {
  text-align: center;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}

.location-info {
  padding: 0 1rem 0 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  line-height: 1;
  color: #000000;
  cursor: pointer;
}

.socialmedia {
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 0 1rem 0 1rem;
  background-color: #000000;
  display: inline-flex;
}

.span {
  margin-left: 10px;
}

.fa-brands,
.fa-solid {
  margin: 0 1rem 0 1rem;
  font-size: 20px;
}

.oj-icon {
  width: 20px;
  height: 20px;
  margin: 0 1rem 0 1rem;
}

ul li ul.dropdown {
  width: 300px;
  height: 300px;
  border-radius: 3px;
  box-shadow: 0 5px 16px 0 #212529;
  opacity: 1;
  position: absolute;
  top: 105%;
  left: -40%;
  transform: translateX(-45%);
  z-index: 1;
  display: none;
  background-color: #ffffff;
}

ul li:hover .dropdown {
  display: block;
}

.header .nav ul li a:hover,
.header .nav ul li a:active {
  color: #ffffff;
  transition: 0.3s;
}

.header #nav-check {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav {
  transition: 0.2s;
}

.nav:hover {
  transition: 0.2s;
}

/* .header .nav ul li .disabled {
  opacity: 0.1;
} */

.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: 0.3s;
}

.nav-toggler:hover {
  transform: scale(1.1);
}

.nav-toggler span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-1);
  left: 0;
  transition: all .2s;
}

.nav-toggler span::before {
  top: -6px;
}

.nav-toggler span::after {
  top: 6px;
}

@media (max-width:991px) {
  .nav-toggler {
    display: flex;
  }

  .header .nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    opacity: 0;
    visibility: hidden;
  }

  .header .nav ul li {
    display: block;
    margin: 0;
  }

  .header #nav-check:checked~.nav {
    opacity: 1;
    visibility: visible;
  }

  .header #nav-check:focus~.nav-toggler {
    box-shadow: 0 0 15px #000000;
  }

  .header #nav-check:checked~.nav-toggler span {
    background-color: transparent;
  }

  .header #nav-check:checked~.nav-toggler span::before {
    top: 0;
    transform: rotate(45deg);
  }

  .header #nav-check:checked~.nav-toggler span::after {
    top: 0;
    transform: rotate(-45deg);
  }
}

/* CONTACT SECTION STYLE START*/
.banner {
  margin-top: 6rem;
  display: block;
}

.banner .contact-info {
  width: 100%;
  margin-left: auto;
}

.contact-info iframe {
  width: 100%;
  height: 70vh;
}

.socmed-wrapper {
  width: 100%;
}

.contact-title {
  font-size: 38px;
  text-transform: capitalize;
}

.socmed-wrapper .contact-title,
.contact-info-no,
.contact-email,
.contact-address {
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
}

.socmed-links .contact-icon {
  text-align: center;
  margin: 2rem;
}

.socmed-links .contact-icon #icon {
  color: #212529;
  font-size: 30px;
}

/* CONTACT MEDIA QUERY */
@media (min-width:990px) {
  .banner {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 6rem; */
  }

  .banner .contact-info {
    width: 50%;
  }

  .socmed-wrapper {
    width: 40%;
    margin: 5rem auto;
  }
}

/* CONTACT MEDIA QUERY */
/* CONTACT SECTION STYLE END */

/* FOOTER STYLE START */
footer {
  background-color: var(--color-1);
  padding: 1rem;
  margin-top: auto;
}

footer h5 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

/* FOOTER STYLE END */